*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Changa One', cursive;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 70px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 6px;
    text-decoration: underline;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 50px;
    letter-spacing: 2px;
  }

  section.markers {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-gap: 1vmin;
    margin-bottom: 1vmin;
  }
  
  section.markers div {
    border-top: 4vmin solid lightgrey;
    border-left: 4vmin solid transparent;
    border-right: 4vmin solid transparent;
  }
  
  section.markers div:hover {
    border-top-color: darkgray;
  }
  
  section.board {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    grid-gap: 1vmin;
  }
  
  section.board div {
    border-radius: 50%;
    border: 1px solid grey;
  }